<div class="page">
  <div class="forms">
    <h1 class="form-title">プロフィール　編集</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <!-- ユーザー画像 -->
      <div class="field form-group">
        <div class="img_prev">
          <% if @user.image? %>
            <%= image_tag @user.image.url, id: "user_prev" %>
          <% else %>
            <%= image_tag asset_path("user_default.png"), id: "user_prev" %>
          <% end %><br />
          <label class="form-image">
          ファイルを選択
          <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "input-field field-image", id: "field-image" %>
        </label>
        </div>
      </div>

      <!-- ユーザー名 -->
      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field" %>
        <%= render "devise/shared/error_messages", model: @user, attribute: :name %>
      </div>

      <!-- Eメール -->
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
        <%= render "devise/shared/error_messages", model: @user, attribute: :email %>
      </div>

      <!-- 紹介文 -->
      <div class="field form-group">
        <%= f.label :profile %><br />
        <%= f.text_area :profile, autofocus: true, autocomplete: "profile", class: "input-area" %>
        <%= render "devise/shared/error_messages", model: @user, attribute: :profile %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <p>パスワードを変更する場合</p>
      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input-field" %>
      </div>

      <div class="actions">
        <%= f.submit "更新する", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h4>アカウントを削除しますか？</h4>
    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除してよろしいですか？" }, method: :delete, class: "btn btn-danger" %>

    <%= link_to "戻る", :back %>
  </div>
</div>