<h1>ユーザ情報</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% @photos.each do |photo| %>
  <div>
    <%= link_to photo_path(photo) do %>
      <%= image_tag photo.image.url %>
      <%= photo.title %>
    <% end %>
  </div>
<% end %>

<%= link_to "プロフィール編集", edit_user_registration_path %>