<div class="users-information">
  <h1>ユーザ情報</h1>
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p>自己紹介 : <%= @user.profile %></p>

  <%= render partial: 'follow_button', locals: {user: @user} %>
  <%= render partial: 'dm' %>
  
  <%= render partial: 'users_photo' %>
  <%= link_to "プロフィール編集", edit_user_registration_path %>
</div>