<h1>Photos#edit</h1>

<%= form_with model: @photo, local: true do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <%= image_tag @photo.image.url %>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "戻る", photos_path %>
