<h1>Photos#index</h1>

<% @photos.each do |photo| %>
  <%= link_to photo_path(photo) do %>
    <%= photo.title %>
    <%= image_tag photo.image.url %>
  <% end %>
  <%= link_to "編集", edit_photo_path(photo) %>
  <%= link_to "削除", photo_path(photo), method: :delete, data: { confirm: '削除しますか?'} %>
<% end %>

<%= link_to "新規投稿", new_photo_path %>
