<div class="page">
  <div class="forms">
    <h1 class="form-title">新規投稿</h1>
    <%= render 'photos/error_messages', model: @photo %>
    <%= form_with model: @photo, local: true, multipart: true do |f| %>
      
      <!-- 画像タイトル -->
      <div class="field form-group">
        <%= f.label :title %><span class="required">必須</span><br />
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input-field" %>
        <p>(10文字以内)</p>
      </div> 

      <!-- 画像説明 -->
      <div class="field form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "input-area" %>
      </div>

      <!-- 画像選択 -->
      <div class="field form-group">
        <%= f.label :image %><span class="required">必須</span><br />
        <label class="form-image">
          ファイルを選択
          <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "input-field field-image", id: "field-image" %>
        </label>
        <div class="img_prev">
          <% if @photo.image? %>
            <%= image_tag @photo.image.url, id: "img_prev" %>
          <% else %>
            <%= image_tag asset_path("img_default.png"), id: "photo_prev" %>
          <% end %>
        </div>
      </div>

      <!-- カテゴリ選択 -->
      <div class="field form-group">
        <%= f.label :category %><br />
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :category_name) do |category| %> 
          <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
          <% end %>
        <% end %>
      </div>

      <!-- 撮影場所 -->
      <div class="spot">
        <%= f.fields_for :spot do |s| %>
          <%= s.label :address, "撮影場所(Google Mapで検索)", class: 'spot__title' %><br>
          <%= s.text_field :address, placeholder: "撮影場所を入力", id: "address", class: 'spot__text' %>
        <% end %>
        <input type="button" value="検索する" onclick="codeAddress()" class='spot__text'>
        <div id="map" class="map">
        </div>

        <script>
          let map
          let geocoder

          function initMap(){
            geocoder = new google.maps.Geocoder()
            if(document.getElementById('map')){
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.6594666, lng: 139.7005536},
                zoom: 14,
              });
            }else{
              map = new google.maps.Map(document.getElementById('spot_map'), {
                center: {lat: gon.lat, lng: gon.lng},
                zoom: 14,
              });

              marker = new google.maps.Marker({
                position:  {lat: gon.lat, lng: gon.lng},
                map: map
              });
            }
          }

          function codeAddress(){
            let inputAddress = document.getElementById('address').value;
            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
              if (status == 'OK') {
                let lat = results[0].geometry.location.lat();
                let lng = results[0].geometry.location.lng();
                let mark = {
                    lat: lat,
                    lng: lng
                };
                map.setCenter(results[0].geometry.location);
                let marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } else {
                alert('該当する結果がありませんでした');
              }
            });
          }
        </script>
      </div>

      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
    <div class="new-photo__link-back">
      <%= link_to "戻る", photos_path %>
    </div>
  </div>
</div>