<div class="photo-details">
      <div class="photo-details__image-area">
        <%= image_tag @photo.image.url, class: "photo-details__image" %>
      </div>
      <div class="photo-information">
        <%= render "photos/information_header" %>


        <div class="photo-information__body">
          <div class="photo-information-area">
            <div class="photo-information__description">
              <% if user_signed_in? && current_user.id == @photo.user_id %>
                <%= form_with model: @photo, local: true do |f| %>
                  <%= f.text_area :description, size: "90x5", class: "description-input" %>
                <% end %>
              <% else %>
                <%= @photo.description %>
              <% end %>
            </div>

            <div class="exif-information">
              <h4 class="exif-title">Exif情報</h3>
              <ul class="photo-exifs">
                <li class="photo-exif"><%= "メーカ：#{@photo_exif.make}" %></li>
                <li class="photo-exif"><%= "モデル：#{@photo_exif.model}" %></li>
                <li class="photo-exif"><%= "撮影日：#{@photo_exif.date_time_original.strftime("%Y-%m-%d %H:%M:%S")}" %></li>
                <li class="photo-exif"><%= "シャッタースピード：#{@photo_exif.exposure_time}" %></li>
                <li class="photo-exif"><%= "F値：#{@photo_exif.f_number}" %></li>
                <li class="photo-exif"><%= "焦点距離：#{@photo_exif.focal_length}" %></li>
                <li class="photo-exif"><%= "ISO感度：#{@photo_exif.iso}" %></li>
              </ul>
            </div>
          </div>
          <div class="photo-comments">
            <p>この写真へのコメント</p>
            <div class="photo-comment">
              <table>
                <tbody>
                  <% @comments.each do |comment| %>
                    <tr>
                      <td><%= comment.user.name %></td>
                      <td><%= comment.comment_content %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              </div>
            
              <%= form_with model: [@photo, @comment], local: true do |f| %>
                <div class="comment-form">
                <%= f.text_area :comment_content, class: "comment-form__input" %>
                <%= f.submit 'コメントを送信する', class: "comment-form__submit" %>
                </div>
              <% end %>
            
          </div>
         
          <%= link_to "戻る", :back %>
          
        </div>
        
      </div>
</div>