<div class="page">
  <div class="photo-content__images">
    <%= image_tag @photo.image.url, class: "photo-content__image" %>
  </div>
  <div class="photo-content">

    <div class="photo-content__top">
      <div class="photo-content__top-left">
        <%= link_to user_path(@photo.user) do %>
          <div class="photo-content__user-name">
            <%= @photo.user.name %>
          </div>
        <% end %>
        <div class="photo-content__created">
          <%= @photo.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
      <div class="photo-content__top-right">
        <div  class="like-goods">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(@photo) %>
              <%= link_to photo_like_path(@photo), method: :delete do %>
                <i class="fas fa-thumbs-up unlike-btn"></i>
              <% end %>
            <% else %>
              <%= link_to photo_likes_path(@photo), method: :post do %>
                <i class="fas fa-thumbs-up like-btn"></i>
              <% end %>
            <% end %>
          <% else %>
            <div class="like-good">
              <i class="fas fa-thumbs-up like-btn"></i>
            </div>
          <% end %>
          <div class="like-count">
            <%= @photo.likes.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="photo-content__main">
      <div class="photo-content__main-left">

        <%= form_with model: @photo, local: true do |f| %>
          <div class="photo-content__information">
            <% if user_signed_in? && current_user.id == @photo.user_id %>
              <div class="photo-content__title">
                <%= f.text_field :title %>
              </div>
              <div class="photo-content__description">
                <%= f.text_area :description, class: "description-input" %>
              </div>
              <div class="photo-categories">
                <div class="photo-category"><%= f.label :category, 'カテゴリ' %></div>
                <%= f.collection_check_boxes(:category_ids, Category.all, :id, :category_name) do |category| %> 
                  <%= category.label do %>
                    <%= category.check_box %>
                    <%= category.text %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="photo-content__title">
                <%= @photo.title %>
              </div>
              <div class="photo-content__description">
                <%= safe_join(@photo.description.split("\n"),tag(:br)) %>
              </div>
              <div class="photo-categories">
                <h4 class="photo-category">カテゴリ</h4>
                <% @photo.categories.each do |photo| %>
                  <%= photo.category_name %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="photo-spot">
            <h4 class="spot-title">撮影場所</h4>
            <% if user_signed_in? && current_user.id == @photo.user_id %>
              <div class="spot-edit">
                <%= f.fields_for :spot do |s| %>
                  <%= s.text_field :address, placeholder: "撮影場所を入力", id: "address", class: 'spot__text' %>
                <% end %>
                <input type="button" value="検索する" onclick="codeAddress()" class='spot__text'>
              </div>
            <% end %>
            <% if @photo.spot.present? %>
              <div class=spot-address>
                <%= @photo.spot.address %>
              </div>
              <div id='spot_map'>
              </div>
            <% end %>
            <script>
              let map
              let geocoder
              
              function initMap(){
                geocoder = new google.maps.Geocoder()
                if(document.getElementById('map')){
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 35.6594666, lng: 139.7005536},
                    zoom: 14,
                  });
                }else{
                  map = new google.maps.Map(document.getElementById('spot_map'), {
                    center: {lat: gon.lat, lng: gon.lng},
                    zoom: 14,
                  });

                  marker = new google.maps.Marker({
                    position:  {lat: gon.lat, lng: gon.lng},
                    map: map
                  });
                }
              }

              function codeAddress(){
                let inputAddress = document.getElementById('address').value;
                geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                  if (status == 'OK') {
                    let lat = results[0].geometry.location.lat();
                    let lng = results[0].geometry.location.lng();
                    let mark = {
                        lat: lat,
                        lng: lng
                    };
                    
                    map.setCenter(results[0].geometry.location);
                    let marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                  } else {
                    alert('該当する結果がありませんでした');
                  }

                  if(marker != null){
                    marker.setMap(null);
                  }
                  marker = null;

                });
              }
            </script>
          </div>

          <% if user_signed_in? && current_user.id == @photo.user_id %>
            <%= f.submit '更新する', class:"btn btn-primary" %>
          <% end %>

        <% end %>
      </div>
      
      <div class="photo-content__main-right">

        <div class="exif-information">
          <h4 class="exif-title">Exif情報</h4>
          <ul class="photo-exifs">
            <li class="photo-exif"><%= "メーカ：#{@photo_exif.make}" %></li>
            <li class="photo-exif"><%= "モデル：#{@photo_exif.model}" %></li>
            <li class="photo-exif"><%= "撮影日：#{@photo_exif.date_time_original&.strftime("%Y-%m-%d %H:%M:%S")}" %></li>
            <li class="photo-exif"><%= "露出時間：#{@photo_exif.exposure_time}" %></li>
            <li class="photo-exif"><%= "F値：#{@photo_exif.f_number}" %></li>
            <li class="photo-exif"><%= "焦点距離：#{@photo_exif.focal_length}" %></li>
            <li class="photo-exif"><%= "ISO感度：#{@photo_exif.iso}" %></li>
            <li class="photo-exif"><%= "露出補正値：#{@photo_exif.exposure_compensation}" %></li>
            <li class="photo-exif"><%= "緯度：#{@photo_exif.gps_latitude}" %></li>
            <li class="photo-exif"><%= "経度：#{@photo_exif.gps_longitude}" %></li>
          </ul>
        </div>

        <div class="photo-comment-boxs">
          <div class="photo-comment-box">
            <h4 class="comments-title">この写真へのコメント</h4>
            <div class="photo-comments">
              <% @comments.each do |comment| %>
                <div class="photo-comment">
                  <div class="photo-comment-user">
                    <%= comment.user.name %><br>
                  </div>
                  <p><%= safe_join(comment.comment_content.split("\n"),tag(:br)) %></p>
                </div>
              <% end %>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="comment-form">
              <%= form_with model: [@photo, @comment], local: true do |f| %>
                <%= f.text_area :comment_content, class: "comment-form__input" %>
                <%= f.submit 'コメントを送信する', class:"btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="link_back">
      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>