<div class="category-form">
  <%= form_with model: @category, local: true do |f| %>
    <div class="field form-group">
      <%= f.label :category_name %><span class="required">必須</span><br />
      <%= f.text_field :category_name, autofocus: true, autocomplete: "category_name", class: "input-field" %>
    </div>

    <div class="field form-group">
      <%= f.label :category_image %><span class="required">必須</span><br />
      <label class="form-image">
        ファイルを選択
        <%= f.file_field :category_image, autofocus: true, autocomplete: "category_image", class: "input-field field-image", id: "field-image" %>
      </label>
      <div class="img_prev">
        <% if @category.category_image? %>
          <%= image_tag @category.category_image.url, id: "category_prev" %>
        <% else %>
          <%= image_tag asset_path("img_default.png"), id: "category_prev" %>
        <% end %>
      </div>
    </div>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>