<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="header-menu">
        <%= link_to photos_path, class: "logo" do %>
          <h1 class="logo-font">
            写活
          </h1>
          <i class="fas fa-camera logo-icon"></i>
        <% end %>
        <ul class="top-menu">
          <li><%= link_to "ホーム", photos_path, class: "top-menu__list" %></li>
          <li><%= link_to "カテゴリー", categories_path, class: "top-menu__list" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "top-menu__list" %></li>
          <% end %>
        </ul>
      </div>
      <ul class="my-menu">
        <% if user_signed_in? %>
          <li><%= link_to "新規投稿", new_photo_path, class: "my-menu__list" %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, class: "my-menu__list" %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path, class: "my-menu__list" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "my-menu__list" %></li>
        <% end %>
      </ul>
      
    </header>
    <!---
    <script>
        $(document).ready(function() {
          $(window).scroll(function() {
            if ($(this).scrollTop() > 0) {
              $('header').css('opacity', 0.8);
            } else {
              $('header').css('opacity', 1);
            }
          });
        });
      </script>
    --->
    <div class="content">
      <%= yield %>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    </div>
    <footer>
    </footer>
  </body>
</html>
